<!--
    此处填写文件描述
    @author:
    @createTime: 2019/10/16 16:43
    @功能:情报下拉框例子
-->
<template>
  <div>
    sjdisjdisjdisjdisdjisdji
  </div>
</template>

<script>

    export default {
        name: "DgSelectDemo",
        data() {
            return {
                dateValue: new Date(),
                manType: 1,
                manType1: "10",
                sex: "1",
                data: [
                    {
                        label: "上海",
                        value: "Shanghai"
                    },
                    {
                        label: "北京",
                        value: "Beijing"
                    },
                    {
                        label: "青海",
                        value: "Qinghai"
                    }
                ],
                data2: [
                    {
                        value: "Shanghai",
                        label: "上海",
                        tag: "热门城市"
                    },
                    {
                        value: "Beijing",
                        label: "北京",
                        tag: "热门城市"
                    },
                    {
                        value: "Chengdu",
                        label: "成都",
                        tag: "城市名"
                    },
                    {
                        value: "Shenzhen",
                        label: "深圳",
                        tag: "城市名"
                    },
                    {
                        value: "Guangzhou",
                        label: "广州",
                        tag: "城市名"
                    },
                    {
                        value: "Dalian",
                        label: "大连",
                        tag: "城市名"
                    }
                ],
                value: "Shanghai",
                value2: "Dalian",
                value3: "Dalian",
                value4: "Dalian",
                value5: "Guangzhou",
                value6: "",
                multipleLimit: 3
            };
        },
        methods: {

        }
    };
</script>

<style>

</style>
